In [1]:
# import
import pandas as pd

In [14]:
# bring in data
df = pd.read_csv('datasets/encoded_data.csv')
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Private,work_type_Self-employed,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,1,0,1,0,0,1,0,1,0,0
1,80.0,0,1,105.92,32.5,1,0,1,0,1,0,1,0,1,0,0,0,1,0
2,49.0,0,0,171.23,34.4,1,1,0,0,1,0,1,0,0,1,0,0,0,1
3,79.0,1,0,174.12,24.0,1,1,0,0,1,0,0,1,1,0,0,0,1,0
4,81.0,0,0,186.21,29.0,1,0,1,0,1,0,1,0,0,1,0,1,0,0

In [15]:
# load model
# import
import pickle

# open and load file
with open('model/model.pkl', 'rb') as model:
    model = pickle.load(model)

In [16]:
# create new df for model deployment
ml_input_df = df.drop(['stroke'], axis=1)
print(ml_input_df.shape)

(4909, 18)

In [17]:
# make predictions on entire dataset
# imports
import numpy as np

# execute predictions
predictions = model.predict(ml_input_df)
stroke_predictions = np.array(predictions)
print(stroke_predictions)

[1 1 1 ... 0 0 0]

In [18]:
# make predictions a column in the dataframe
df['stroke_prediction'] = stroke_predictions.tolist()
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Private,work_type_Self-employed,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke_prediction
0,67.0,0,1,228.69,36.6,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1
1,80.0,0,1,105.92,32.5,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1
2,49.0,0,0,171.23,34.4,1,1,0,0,1,0,1,0,0,1,0,0,0,1,1
3,79.0,1,0,174.12,24.0,1,1,0,0,1,0,0,1,1,0,0,0,1,0,1
4,81.0,0,0,186.21,29.0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1

In [19]:
# save new dataset with predictions
df.to_csv('datasets/prediction_dataset.csv', encoding='utf-8', index=False)